# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# --- OS / Editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo


# data
data/

src/flood_vulnerability.kml
src/flood_vulnerability.kml

src/debug.ipynb

# Large files
repo-backup.bundle
*.bundle